# ██████╗████████╗ █████╗ ██████╗ ████████╗  ██████╗ ██████╗ ██╗███╗  ██╗████████╗
#██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝  ██╔══██╗██╔══██╗██║████╗ ██║╚══██╔══╝
#╚█████╗    ██║   ███████║██████╔╝   ██║     ██████╔╝██████╔╝██║██╔██╗██║   ██║   
# ╚═══██╗   ██║   ██╔══██║██╔══██╗   ██║     ██╔═══╝ ██╔══██╗██║██║╚████║   ██║   
#██████╔╝   ██║   ██║  ██║██║  ██║   ██║     ██║     ██║  ██║██║██║ ╚███║   ██║   
#╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝     ╚═╝     ╚═╝  ╚═╝╚═╝╚═╝  ╚══╝   ╚═╝ 
[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    #Seta temperatura do extrusor e aguarda
    RESPOND TYPE=command MSG="Aguardando aquecimento do bico"
    M109 S{EXTRUDER_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    #Limpa o bico na bandeja de purga
    PURGA_MMU ONLY_CLEAN=1
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    #Executa nivelamento da mesa 
    BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
    # Log inicial com o valor atual da variável
    RESPOND TYPE=command MSG=" START_PRINT: [MMU BYPASS CHECK] Verificando tool atual: {printer.mmu.tool}"
    {% if printer.mmu.tool == -1 or printer.mmu.tool == -2 %}
        # Tool é -1 ou -2, executa movimento direto
        RESPOND TYPE=command MSG="START_PRINT: [MMU BYPASS CHECK] Tool é {printer.mmu.tool} Usando porta de Bypass - Executando movimento direto G1 X0 Y2.50 Z0.78 F2400"
        G1 X0 Y2.50 Z0.78 F2400
        RESPOND TYPE=command MSG="START_PRINT: [MMU BYPASS CHECK] Movimento direto concluído"
        MMU_TEST_CONFIG enable_clog_detection=0
        RESPOND TYPE=command MSG="START_PRINT: [MMU BYPASS CHECK] Desativando detecão de obstrução"
    {% else %}
        # Tool não é -1 nem -2, executa macro PURGA_PREUNLOAD
        RESPOND TYPE=command MSG="START_PRINT: [MMU BYPASS CHECK] Tool é {printer.mmu.tool} - Impressão sem Bypass"
    {% endif %}
    
    RESPOND TYPE=command MSG="START_PRINT: [MMU BYPASS CHECK] Verificação de BYPASS  finalizada"
    RESPOND TYPE=command MSG="START_PRINT: Perfil SKEW carregado no início da impressão"
    SKEW_PROFILE LOAD=skew_profile
    GET_CURRENT_SKEW

   

#███████╗███╗  ██╗██████╗   ██████╗ ██████╗ ██╗███╗  ██╗████████╗
#██╔════╝████╗ ██║██╔══██╗  ██╔══██╗██╔══██╗██║████╗ ██║╚══██╔══╝
#█████╗  ██╔██╗██║██║  ██║  ██████╔╝██████╔╝██║██╔██╗██║   ██║   
#██╔══╝  ██║╚████║██║  ██║  ██╔═══╝ ██╔══██╗██║██║╚████║   ██║   
#███████╗██║ ╚███║██████╔╝  ██║     ██║  ██║██║██║ ╚███║   ██║   
#╚══════╝╚═╝  ╚══╝╚═════╝   ╚═╝     ╚═╝  ╚═╝╚═╝╚═╝  ╚══╝   ╚═╝  
[gcode_macro END_PRINT]
gcode:
    #Salva no disco os dados do ultimo filamento utilizado 
    SAVE_LAST_TOOL_INFO
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Realiza a limpeza da escova
    # Desativa os motores
    M84
    RESPOND TYPE=command MSG="END_PRINT: Perfil SKEW descarregado após término da impressão"
    SET_SKEW CLEAR=1

#██╗      █████╗  █████╗ ██████╗   ███████╗██╗██╗      █████╗ ███╗   ███╗███████╗███╗  ██╗████████╗
#██║     ██╔══██╗██╔══██╗██╔══██╗  ██╔════╝██║██║     ██╔══██╗████╗ ████║██╔════╝████╗ ██║╚══██╔══╝
#██║     ██║  ██║███████║██║  ██║  █████╗  ██║██║     ███████║██╔████╔██║█████╗  ██╔██╗██║   ██║   
#██║     ██║  ██║██╔══██║██║  ██║  ██╔══╝  ██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚████║   ██║   
#███████╗╚█████╔╝██║  ██║██████╔╝  ██║     ██║███████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚███║   ██║   
#╚══════╝ ╚════╝ ╚═╝  ╚═╝╚═════╝   ╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚══╝   ╚═╝  
[gcode_macro LOAD_FILAMENT]
gcode:
    MMU_LOAD

#██╗   ██╗███╗  ██╗██╗      █████╗  █████╗ ██████╗   ███████╗██╗██╗      █████╗ ███╗   ███╗███████╗███╗  ██╗████████╗
#██║   ██║████╗ ██║██║     ██╔══██╗██╔══██╗██╔══██╗  ██╔════╝██║██║     ██╔══██╗████╗ ████║██╔════╝████╗ ██║╚══██╔══╝
#██║   ██║██╔██╗██║██║     ██║  ██║███████║██║  ██║  █████╗  ██║██║     ███████║██╔████╔██║█████╗  ██╔██╗██║   ██║   
#██║   ██║██║╚████║██║     ██║  ██║██╔══██║██║  ██║  ██╔══╝  ██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚████║   ██║   
#╚██████╔╝██║ ╚███║███████╗╚█████╔╝██║  ██║██████╔╝  ██║     ██║███████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚███║   ██║   
# ╚═════╝ ╚═╝  ╚══╝╚══════╝ ╚════╝ ╚═╝  ╚═╝╚═════╝   ╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚══╝   ╚═╝ 
[gcode_macro UNLOAD_FILAMENT]
gcode:
    MMU_UNLOAD

#██████╗ ██████╗ ███████╗    ██╗   ██╗███╗  ██╗██╗      █████╗  █████╗ ██████╗ 
#██╔══██╗██╔══██╗██╔════╝    ██║   ██║████╗ ██║██║     ██╔══██╗██╔══██╗██╔══██╗
#██████╔╝██████╔╝█████╗      ██║   ██║██╔██╗██║██║     ██║  ██║███████║██║  ██║
#██╔═══╝ ██╔══██╗██╔══╝      ██║   ██║██║╚████║██║     ██║  ██║██╔══██║██║  ██║
#██║     ██║  ██║███████╗    ╚██████╔╝██║ ╚███║███████╗╚█████╔╝██║  ██║██████╔╝
#╚═╝     ╚═╝  ╚═╝╚══════╝     ╚═════╝ ╚═╝  ╚══╝╚══════╝ ╚════╝ ╚═╝  ╚═╝╚═════╝ 

[gcode_macro PRE_UNLOAD]
gcode:
    RESPOND TYPE=command MSG="PRE_UNLOAD: Perfil SKEW descarregado antes da troca de filamento"
    SET_SKEW CLEAR=1




# █████╗ ██╗   ██╗████████╗████████╗██╗███╗  ██╗ ██████╗    ██████╗███████╗██████╗ ██╗   ██╗ █████╗ 
#██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██║████╗ ██║██╔════╝   ██╔════╝██╔════╝██╔══██╗██║   ██║██╔══██╗
#██║  ╚═╝██║   ██║   ██║      ██║   ██║██╔██╗██║██║  ██╗   ╚█████╗ █████╗  ██████╔╝╚██╗ ██╔╝██║  ██║
#██║  ██╗██║   ██║   ██║      ██║   ██║██║╚████║██║  ╚██╗   ╚═══██╗██╔══╝  ██╔══██╗ ╚████╔╝ ██║  ██║
#╚█████╔╝╚██████╔╝   ██║      ██║   ██║██║ ╚███║╚██████╔╝  ██████╔╝███████╗██║  ██║  ╚██╔╝  ╚█████╔╝
# ╚════╝  ╚═════╝    ╚═╝      ╚═╝   ╚═╝╚═╝  ╚══╝ ╚═════╝   ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝    ╚════╝ 


# Macro para abrir o servo de corte de filamento
[gcode_macro CUTTING_SERVO_OPEN]
gcode:
    _CUT_TIP_GANTRY_SERVO_DOWN

# Macro para fechar o servo de corte de filamento
[gcode_macro CUTTING_SERVO_CLOSE]
gcode:
    _CUT_TIP_GANTRY_SERVO_UP

#██████╗ ██╗   ██╗███╗   ███╗██████╗ ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗ ██████╗
#██╔══██╗██║   ██║████╗ ████║██╔══██╗██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
#██║  ██║██║   ██║██╔████╔██║██████╔╝╚██╗ ██╔╝███████║██████╔╝██║███████║██████╦╝██║     █████╗  ╚█████╗ 
#██║  ██║██║   ██║██║╚██╔╝██║██╔═══╝  ╚████╔╝ ██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝   ╚═══██╗
#██████╔╝╚██████╔╝██║ ╚═╝ ██║██║       ╚██╔╝  ██║  ██║██║  ██║██║██║  ██║██████╦╝███████╗███████╗██████╔╝
#╚═════╝  ╚═════╝ ╚═╝     ╚═╝╚═╝        ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚═════╝ 

[gcode_macro DUMP_VARIABLES]
description: >
    Isso exibe todas as variáveis atuais do Klipper no terminal de código G.
    Isso ajuda a encontrar variáveis de sistema do Klipper para uso em macros. É possível aplicar um filtro tanto por nome quanto por valor.
    Argumentos
        NAME (string) - Filtrar resultados com base no nome (mostrar apenas variáveis com nomes que contenham esta string)
        VALUE (string) - Filtrar resultados com base no valor (mostrar apenas valores que contenham esse valor)
        SHOW_CFG (número inteiro, 0-1) - Defina como 1 para incluir toda a configuração na saída. O padrão é 0 (configuração filtrada).
    Exemplos
        DUMP_VARIABLES: Retorna todas as variáveis (exceto ` printer['configfile'].configand` printer['configfile'].settings, pois elas contêm toda a configuração).
        DUMP_VARIABLES NAME=stepperRetorna todas as variáveis que contêm a string stepperem seus nomes.
        DUMP_VARIABLES VALUE=extruderRetorna todas as variáveis que contêm a string extruderem seu valor.
        DUMP_VARIABLES NAME=stepper VALUE=extruderRetorna todas as variávei que têm a string stepperem seu nome e a string extruderem seu valor.
        DUMP_VARIABLES SHOW_CFG=1Retorna todas as variáveis, incluindo a configuração.
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}

# ██████╗ ███████╗████████╗██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗
#██╔════╝ ██╔════╝╚══██╔══╝██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝
#██║  ██╗ █████╗     ██║   ╚██╗ ██╔╝███████║██████╔╝██║███████║██████╦╝██║     █████╗  
#██║  ╚██╗██╔══╝     ██║    ╚████╔╝ ██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  
#╚██████╔╝███████╗   ██║     ╚██╔╝  ██║  ██║██║  ██║██║██║  ██║██████╦╝███████╗███████╗
# ╚═════╝ ╚══════╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝

[gcode_macro GET_VARIABLE]
description: >
 Esta função retorna o valor e o tipo de uma única variável para o terminal de código G. 
 Chaves e índices podem ser encadeados para acessar dicionários e listas aninhados.
 Exemplos:
    GET_VARIABLE NAME=toolhead: Retorna o valor e o tipo da variável printer.toolhead.
    GET_VARIABLE NAME=bed_mesh.profiles.default.points.1.0: Retorna o valor e o tipo da variável printer.bed_mesh.profiles.default.points[1][0].
gcode:
    {% set names = (params.NAME).split('.')|list %}
    {% set join = (params.JOIN)|default(1)|int %}
    
    {% set _dummy0 = namespace( break = 0 ) %}
    {% set _dummy1 = namespace( out = printer[names|first] ) %}
    
    {% for name in names if _dummy0.break == 0 %}
        {% if loop.index > 1 %}
            {% if name in _dummy1.out %}
                {% set _dummy1.out = _dummy1.out[name] %}
            {% elif name[0] in '0123456789' and _dummy1.out is iterable and _dummy1.out is not string and _dummy1.out is not mapping and _dummy1.out|length > name[0]|int %}
                {% set _dummy1.out = _dummy1.out[name|int] %}
            {% else %}
                {% set _dummy0.break = loop.index0 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if _dummy1.out is boolean %}
        { action_respond_info('Type: boolean') }
    {% elif _dummy1.out is float %}
        { action_respond_info('Type: float') }
    {% elif _dummy1.out is integer %}
        { action_respond_info('Type: integer') }
    {% elif _dummy1.out is mapping %}
        { action_respond_info('Type: mapping') }
    {% elif _dummy1.out is string %}
        { action_respond_info('Type: string') }
    {% elif _dummy1.out is iterable %}
        { action_respond_info('Type: iterable') }
    {% elif _dummy1.out is none %}
        { action_respond_info('Type: none') }
    {% elif _dummy1.out is undefined %}
        { action_respond_info('Type: undefined') }
    {% elif _dummy1.out is callable %}
        { action_respond_info('Type: callable') }
    {% else %}
        { action_respond_info('Type: unknown') }
    {% endif %}
    
    {% if join and _dummy1.out is iterable and _dummy1.out is not string and _dummy1.out is not mapping %}
        { action_respond_info('%s' % _dummy1.out|join("\n")) }
    {% else %}
        { action_respond_info('%s' % _dummy1.out) }
    {% endif %}
    
    {% if _dummy0.break != 0 %}
        { action_respond_info('"printer.%s" does not contain "%s"!' % (names[0:_dummy0.break]|join('.'), names[_dummy0.break])) }
    {% endif %}

#████████╗███████╗██╗     ███████╗ ██████╗ ██████╗  █████╗ ███╗   ███╗
#╚══██╔══╝██╔════╝██║     ██╔════╝██╔════╝ ██╔══██╗██╔══██╗████╗ ████║
#   ██║   █████╗  ██║     █████╗  ██║  ██╗ ██████╔╝███████║██╔████╔██║
#   ██║   ██╔══╝  ██║     ██╔══╝  ██║  ╚██╗██╔══██╗██╔══██║██║╚██╔╝██║
#   ██║   ███████╗███████╗███████╗╚██████╔╝██║  ██║██║  ██║██║ ╚═╝ ██║
#   ╚═╝   ╚══════╝╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝

[gcode_macro user_pause_extension ]
description: Envia uma notificação para o bot telegram quando a imporessão for pausada
gcode:
    RESPOND PREFIX=tgnotify MSG="Impressão pausada"

[gcode_macro user_resume_extension ]
description: Envia uma notificação para o bot telegram quando a imporessão for retomada
gcode:
    RESPOND PREFIX=tgnotify MSG="Impressão retomada"


[gcode_macro A_MOVER]
description: Move o cabeçote em diagonal 5 vezes com velocidade personalizada
gcode:
    {% set speed = params.SPEED|default(100)|float %}  # Velocidade em mm/s, padrão 100mm/s
    {% set feedrate = speed * 60 %}  # Converte mm/s para mm/min
    
    SAVE_GCODE_STATE NAME=A_MOVER
    
    G90  # Modo absoluto
    
    # Loop de 5 repetições
    {% for i in range(5) %}
        G0 X120 Y300 F{feedrate}
        G0 X120 Y50 F{feedrate}
    {% endfor %}
    
    RESTORE_GCODE_STATE NAME=A_MOVER
   